<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SOONG-SIL POWER LINUX USER GROUP</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">S  P  L  U  G</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#latest_news">News</a>
                    </li>

                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header class="masthead bg-secondary text-white text-center " background>
        <section id="banner">
        </section>

        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
            <h2 class="text-uppercase mb-0">Soong-sil Power <br>Linux User Group </h2>
            <hr class="star-dark">
            <a href="/process/login_page" class="log_in bg-primary  py-3 px-4 px-lg- navbar-brand text-center rounded text-white ">CLICK ME!</a>
        </div>
    </header>

    <section class="porfolio" id="about">
        <div class="container">

            <h2 class=" text-center text-uppercase text-secondary mb-0">About SPLUG</h2>
            <hr class="star-dark mb-5">
            <div class="row text-center">
                <p class="lead">Soongsil Power Linux User Group<br> 1998년 설립되어, 숭실대학교 컴퓨터학부의 리눅스 연구를 하는 학술소모임입니다.<br> 매년 학교생활 및 리눅스 세미나를 비롯하여 오픈 세미나를 개최하며, C언어, Linux 스터디 및 소프트웨어 연구를 하고 있습니다.<br> 또한 수도권 대학 Linux 연합그룹 ULUG에 소속되어 활발히 활동 중에 있습니다.
                    <br>
                </p>
            </div>
            <div class="text-center mt-4">
            </div>
        </div>
    </section>

    <section class="portfolio bg-secondary secondary" id="latest_news">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Latest News(2018)</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#latest_news_1">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/activity/1.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#latest_news_6">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/activity/6.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#latest_news_5">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/activity/5.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#latest_news_4">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/activity/4.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#latest_news_3">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/activity/3.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#latest_news_2">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/activity/2.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>



    <section id="contact">
        <div class="container; text-center">
            <h2 class="text-center text-uppercase text-secondary mb-0">Contact SPLUG</h2>
            <hr class="star-dark mb-5">

            <h4 class="text-center">윤동우 <br>(21st President)</h4>


        </div>
    </section>

    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">Seoul Dongjak-gu Sangdo 1-dong Soongsil Univ, T-Max Lab.</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4"></h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"> <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/groups/336829286336550/?ref=bookmarks"> <em class="fa fa-fw fa-facebook"></em> </a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-5">About The OPEN</h4>
                    <p class="lead mb-0">현재 2012년이전 데이터 복구하였고 , <br>추가 기능 구현 중입니다.<br>가입부탁드려용!
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright SPLUG 2017 JCJECN</small>
        </div>
    </div>
    <div class="portfolio-modal mfp-hide" id="latest_news_1">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">스플럭 내부세미나</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="img/activity/1.jpg" alt="">
                        <p class="mb-5">2017.11.16일 스플럭 내부 세미나를 진행하였습니다. <br>선후배간 스터디 형식으로 진행되었으며, 채점 방식을 도입하여 1등한 조에게 회식비를 지원하였습니다.</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="latest_news_2">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">2017 숭실대 축제(9/27~29)</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="img/activity/2.jpg" alt="">
                        <p class="mb-5"> 9/27~29 3일간 숭실대 축제가 열렸습니다.<br> SPLUG 은 28,29 이틀간 주점을 열었고 많은 선배님들이 찾아주셨습니다.</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="latest_news_3">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">교내 공모전 수상</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="img/activity/3.jpg" alt="">
                        <p class="mb-5">캡스톤 , 교내 공모전 결과 SPLUG 학우들이 총장상 우수상등 입상하였습니다.<br> 이로써 내년 001 6자리 사수에 희망을 주었습니다.</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal mfp-hide" id="latest_news_4">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">2017 SPLUG 홈커밍 데이</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="img/activity/4.jpg" alt="">
                        <p class="mb-5">2017 8.12 SPLUG 홈커밍 데이를 진행하였습니다.......만<br> 많이들 못오셨어요 ㅠㅠㅠ <br>바쁘신 중에 참여해주신 선배님들 감사합니다!!</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal mfp-hide" id="latest_news_5">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">스플럭 돕바 공동 구매</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="img/activity/5.jpg" alt="">
                        <p class="mb-5">필요하신 분들 공구 ㄱ</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio-modal mfp-hide" id="latest_news_6">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">2017 학위 수여식</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="img/activity/6.jpg" alt="">
                        <p class="mb-5">2017.2.17 학위 수여식이 있었습니다.<br>많은 선배분들이 졸업하셨고,임원진 및 재학생들도 참석하였습니다. </p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>


    <script src="js/freelancer.min.js"></script>

</body>

</html>
