<html>
    <head>
     <h1>log_in form</h1></head>
    <body id = add_user>
        
        <h1>log in</h1>
        <form method="post" action="/process/login" autocomplete="off">
        <table>
            <tr>
                <td><label>아이디</label>
                <td> 
                    <input type = "text" name ="id" autocomplete="off">
                </td>     
            </tr>
                <td><label>패스워드</label> </td>
                <td><input type="password" name="password" autocomplete="new-password"></td>
            
            </table>
            <input type="submit" value="전송" name="">
            
        </form>
        <a href="/process/adduserpage">사용자 등록</a>
        
    </body>
</html>