<html>
    <head>
     <h1>add user form</h1></head>
    <body>
        
        <h1>add user</h1>
        <form method="post" action="/process/adduser">
        <table>
            <tr>
                <td><label> id :</label>
                <td> 
                    <input type = "text" name ="id">
                </td>     
            </tr>
            <tr>
                <td><label> password</label> </td>
                <td><input type="password" name="password"></td>
                </tr>
            
            <tr>
                <td><label> name</label> </td>
                <td><input type="text" name="name"></td>
                </tr>
            </table>
            <input type="submit" value="전송" name="">
            
        </form>
        
        
    </body>
</html>